--2020-04-13 13:22:27--  https://raw.githubusercontent.com/Environmental-Informatics/assignment-10/master/README.md
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.128.133, 151.101.192.133, 151.101.64.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.128.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20170 (20K) [text/plain]
Saving to: ‘README.md.1’

     0K .......... .........                                  100% 3.47M=0.006s

2020-04-13 13:22:27 (3.47 MB/s) - ‘README.md.1’ saved [20170/20170]

